.search_home_content
    width: 60%
    margin: 20% auto


.search_home_box
    width: 100%
    height: 25px

.search_submit_div
    margin: 15px
    text-align: center

.search_home_submit
    width: 40%
    
.search_options
    margin: 3px
    height: 15px
    width: 100%

.search_options .so_heading
    font-weight: bold

.search_options label
    font-style: italic

.search_options input
    padding-top: 5px
    margin-right: 10px
    margin-left: 5px

.left
    float: left

.right
    float: right